<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <link href='https://fonts.googleapis.com/css?family=Cutive|Cutive+Mono|Special+Elite|Roboto+Slab:400,100,300,700|Fredericka+the+Great|Kameron:400,700' rel='stylesheet' type='text/css'>
    <title>Pop Writer | a collaborative script writing utility with data analysis tools</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/angular/angular.js"></script>
    <script src="/d3/d3.js"></script>
    <script src="/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="/nvd3/build/nv.d3.css">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/medium-editor/dist/js/medium-editor.js"></script>
    <link rel="stylesheet" href="/medium-editor/dist/css/medium-editor.css"></script>
    <link rel="stylesheet" href="/medium-editor/dist/css/themes/default.css"></script>
    <script src="/angular-medium-editor/dist/angular-medium-editor.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
     <script src="/ngDraggable/ngDraggable.js"></script>
    <script src="/main.js"></script>


</head>
<body ng-app="FullstackGeneratedApp">
    <navbar  ng-class="{ homebar: currentState.name === 'home', nonhomebar: currentState.name 
    !== 'home'}"></navbar>
    <div id="main" ui-view></div>
</body>
</html>
