.hero {
	color: #fff;
	background: 000 center url(images/popwriter_hero.jpeg);
	background-size: cover;
	text-align: center;
	height: 100vh;
	display: table;
	width: 100%;
}

h1.splash {
    
  /*font-family: 'Vast Shadow';*/
	/*font-weight: normal;
	text-transform: uppercase;
	text-align: center;*/
	font-size: 6vw;
	/*line-height: 1;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	background-color: rgba(0,0,0, .4);*/
}

