.hero {
	paddig-top: 60px;
	color: rgba(230,230,230, 0.8);
	background-image: 
		radial-gradient(
			rgba(0,0,0, 0.3),
			rgba(0,0,0, 0)
		),
		url(popwriter_hero.jpeg);
	background-size: cover;
	text-align: center;
	height: 100vh;
	display: table;
	width: 100%;
}

div.splash {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

h1.splash {
    
    font-family: 'Cutive';
    /*font-family: 'Special Elite';*/
    /*font-family: 'Fredericka the Great';*/
	text-align: center;
	font-weight: normal;
	/*text-transform: uppercase;*/
	font-size: 7vw;
	line-height: 1;
	margin-bottom: 25px;
	/*margin: 0;*/
	
}

h2.byline {
	font-family: 'Cutive';
	font-size: 2vw;
	text-align: center;
	line-height: 2;
	/*margin-bottom: 80px;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	
}

main {
	/*font-size: 1.4rem;
	line-height: 1.6;
	max-width: 40em;
	margin: auto;
	padding: 1em;*/
	margin: 0;
	/*padding-top: 60px;*/
}

.scroll-down {
	position: absolute;
	bottom: 20px;
	left: calc(50% - 20px);
	background: url(down-arrow-circle.svg) no-repeat;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	opacity: .6;
}

