.hero {
	paddig-top: 60px;
	color: rgba(230,230,230, 0.8);
	background-image: 
		radial-gradient(
			rgba(0,0,0, 0.3),
			rgba(0,0,0, 0)
		),
		url(popwriter_hero.jpeg);
	background-size: cover;
	text-align: center;
	height: 100vh;
	display: table;
	width: 100%;
}

div.splash {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

h1.splash {
    
    font-family: 'Cutive';
	text-align: center;
	font-weight: normal;
	font-size: 7vw;
	line-height: 1;
	margin-top: 0px;
	margin-bottom: 15px;
	
}

h2.byline {
	font-family: 'Cutive Mono';
	font-weight: 700;
	font-size: 2.25vw;
	text-align: center;
	line-height: 2;
	margin-top: 10px;
}

main {
	margin: 0;
}

.home-buttons {
	margin-top: 25px;
	margin-bottom: 15px;
}

.signup-button, .login-button {
	color: white;
	font-size: 17px;
	margin: 5px;
	padding: 9px 13px;
	border: 2.5px solid white;
	background-color: rgba(0,0,0,0);
}

.signup-button:hover, .login-button:hover {
	background-color: #87b4a4;
	color: white;
}

.scroll-down {
	position: absolute;
	bottom: 20px;
	left: calc(50% - 20px);
	background: url(down-arrow-circle.svg) no-repeat;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	opacity: .6;
}

.about-contain {
	padding: 5% 10%;
}

.about-contain h2 {
	padding-bottom: 20px;
}

.about-contain p {
	font-size: 18px;
}

.about-contain .small {
	font-size: 10px;
}

.about-art {
	height: 300px;
	padding: 0;
	margin: 0;
	background-color: #87b4a4;
}

