#editor {
    padding-top: 30px;
    font-family: courier;
    font-size: 1.3vw;
    outline: 0px;

    /* added by ESF */
    display: block;
    border: 1px solid rgba(0,0,0,0.15);
    border-bottom-color: rgba(0,0,0,0.25);
    box-shadow: 0 1px 1px rgba(0,0,0,0.06);
    background-color: #fff;
    margin-top: 15px;
    padding-bottom: 100px;

    
    .header, .character {
        text-transform: uppercase;
    }
    .header {
        padding-top: 4%;
    }
    .header, .action {
        padding-left: 17%;
        padding-right: 11%;
    }
    .character {
        padding-top:1%;
        padding-left: 41%;
        margin-bottom: .5%;
    }
    .dialogue {
        padding-left: 32%;
        padding-right: 37%;
    }
    .action {
        padding-top: .5%;
    }
}

.scenes {
    width: 28%;
    background: pink;
}

.slide-bar {
    color: rgb(220,220,220);
    padding-top: 5px;
    text-align: center;
    width: 2%;
    margin: 0;
    background-color: #271E23;
    cursor: pointer;
}

.editor-contain {
    width: 70%;
    background: lightblue;
    padding: 10px;
}

.flex-child {

}

.outer-editor {
    padding-right: 0px;
    /*border: 10px solid black;*/
    display: flex;
    /*flex: 1 1 auto;*/
    /*flex-direction: row;*/
    justify-content: space-between;
    width: 100%;
    background-color: grey;
}

.editor-wrapper {
    padding-top: 92px;
}

