navbar {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  font-family: 'Cutive Mono';
  display: block;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  &.homebar {
    background: rgba(0,0,0, 0.35);
    background-image: linear-gradient(
    to left,
    rgba(0,0,0, 0.6) 35%, rgba(0,0,0,0.3)
    );
  }

  &.nonhomebar {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
    to left,
    rgba(0,0,0, 0.6) 35%, rgba(0,0,0,0.3)),
    url(popwriter_hero.jpeg);
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: rgb(220,220,220);
    font-size: 18px;
  }

  .nav > li > a {
    cursor: pointer;

    &.active {
      color: darken(#9fdcc7, 10%);
    }
    &:hover {
      background: none;
      color: #9fdcc7;
    }
    &:focus {
      background: none;
    }
  }

  .login-button, .signup-button {
    float: right;
    border: 2px solid rgb(220,220,220);
    color: rgb(220,220,220);
    margin-top: 12px;
    background: none;
    outline: none !important;
  }

  .signup-button {
    margin-right: 10px;
  }

  .login-button:hover, .signup-button:hover {
    color: #87b4a4;
    border: 2px solid #87b4a4;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: rgb(220,220,220);
      font-size: 18px;
      margin-right: 5px;
      padding-bottom: 30px;
    }
    a {
      color: #87b4a4;
      cursor: pointer;
    }
    .glyphicon-cog {
      vertical-align: -2.5px;
    }
  }

.glyphicon {
  color: rgb(255,255,255);
  font-size: 24px;
  padding-bottom: 7px;
}

}
