/* scenes directive styling */

.scene {
	background-color: rgba(200,200,200,0.8);
	border: 1px solid black;
	padding: 5px 8px 2px;
	line-height: 1.2em;
	margin: 2px 0;
}

.scene-title {
	padding: 5px 8px 2px;
}

[ng-drag].drag-over {
            border: solid 1px red;
        }

[ng-drag].dragging {
    opacity: 0.5;
}

.scene-drop {
	/*width: 90%;*/
}

.scene-drag {
	/*width: 90%;*/
}
.scene-cursor {
	/*padding: 5px 3px;*/
	cursor: move;
}