/* scenes directive styling */



[ng-drag].drag-over {
            border: solid 1px red;
        }

[ng-drag].dragging {
    opacity: 0.5;
}

.scene-drop {
	/*width: 90%;*/
}

.scene-drag {
	/*width: 90%;*/
}
.scene-box {
	/*padding: 5px 3px;*/
	cursor: move;
	display: flex;
	justify-content: space-between;
	/*background-color: rgba(200,200,200,0.8);*/
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.scene {
	width: 90%;
	font-size: 16px;
	padding: 5px 10px 2px;
	line-height: 1.2em;
	margin: 2px 0;
}

.scene-title {
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
}

/* plus sign next to each scene */
.edit-btn {
	color: #271E23;
	display: block;
	line-height: 1.2em;
	width: 40px;
	height: 35px;
	padding:  11px 5px;
	text-align: center;
}

.edit-btn.edit-btn-cursor {
	cursor: pointer;
}

/* ***** EDIT FORM STYLES ***** */
#edit-scene {
	padding: 8px 5px;
	background-color: #87b4a4;
}

.btn-scenes, label {
	margin-top: 6px;
}

