 <h3 class="scene-title">{{screenplay.title}}</h3>
 <p class="heading-bar">Characters:</p>
<!-- <button class="char-buttons" ng-repeat="character in sideBarCharacters">{{ character.name }}</button> -->
<div class="scenes-repeat" ng-repeat="character in sideBarCharacters">
    <button class="scene char-buttons btn signup-button" ng-class="scene.name" ng-click="showform.name = showform.name === character.name ? null : character.name">{{ character.name }}</button>
    <div ng-show="showform.name === character.name">
        <div id="edit-scene">
            <label for="header">Backstory</label>
            <textarea class="form-control" id="edit-header" ng-model="character.backstory"></textarea>

            <button ng-click="submitCharacter(character)" type="submit" class="btn btn-default">Save Edits</button>
            <button ng-click="showform.name = null" class="btn btn-default">Cancel</button>
        </div>
    </div>
    </div><!-- closes edit form -->
<p class="heading-bar">Scenes:</p>
<div class="scenes-repeat" ng-repeat="scene in sideBarScreenplay.scenes">
	<div class="scene-box" ng-drop="true" ng-drop-success="onDropComplete(sideBarScreenplay, $index, $data)">
		<h3 class="scene" ng-drag="true" ng-drag-data="$index" ng-class="scene.name">{{$index + 1}}.&nbsp;&nbsp;{{ scene.header.toUpperCase() }}</h3>
		<div class="edit-btn edit-btn-cursor" ng-click="toggleShowForm()"><span ng-class="{'glyphicon glyphicon-plus': !showform, 'glyphicon glyphicon-minus': showform}"></span></div>
	</div>
	<div ng-show="showform">
		<form id="edit-scene" name="editScene" ng-submit="submitEditScene(screenplay, scene, scene._id)">
			<div ng-hide="true" ng-model="editscene._id">{{scene._id}}</div>

	  		<label for="header">Title</label>
	  		<input class="form-control" id="edit-header" ng-model="scene.header">

		  	<label for="synopsis">Scene Synopsis</label>
		  	<textarea class="form-control" id="edit-synopsis" ng-model="scene.synopsis"  rows="4"></textarea>

		  	<button type="submit" class="btn btn-default btn-scenes">Save Edits</button>
		  	<button ng-click="toggleShowForm()" class="btn btn-default btn-scenes">Cancel</button>
		</form>

	</div><!-- closes edit form -->
</div><!-- closes ng-repeat div -->
