
<div class="state-container">
    <div class="outer-editor">
        <div class="scenes flex-child">
        	<scenes screenplay="screenplay"></scenes>
        </div>

        <div class="editor-contain flex-child">
            <h1>{{ selected.toUpperCase() }}</h1>
            <button ui-sref="userHome">home</button>
            <button ng-click="save()">save</button>

            <medium-editor id="editor" bind-options="options" ng-model="text" ng-keydown="type($event)" ng-click="click()"">
            <div id="slug"></div>
            </medium-editor>
            <br>
        </div>
    </div>
</div>

