<script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
<div>
	<scenes screenplay="{{screenplay}}"></scenes>
</div>
<div class="container">
    <h1>EDITOR</h1>
    <select name="select" ng-model="comp">
      <option ng-repeat="component in components" >{{ component }}</option>
    </select>
    <form method="post">
      <textarea  id="editor" ng-keydown="type($event)" ng-model="text" cursor-position="position"></textarea>
    </form>
    <button ng-click="clickMe()">click me</button>
    <button ui-sref="userHome">home</button>
</div>



<!-- ng-model="tinymceModel" ui-tinymce="tinymceOptions" -->
