
<div class="editor-wrapper">
    <div class="outer-editor">
        <!-- scenes sidebar -->
        <div id="scenes-bar" class="scenes flex-child flex-hide">
        	<scenes screenplay="screenplay"></scenes>
        </div>
        <!-- sidebar toggle -->
        <div class="slide-bar" ng-mouseenter="toggleScenesME($event)" ng-mouseleave="toggleScenesML($event)"><span id="triangle" class="glyphicon glyphicon-triangle-right"></span></div>
        <!-- editor area -->
        <div class="editor-contain flex-child">
            <div id="topbar" scroll>
                <button class="btn btn-save" ng-click="save()">save</button>
                <button class="btn btn-save" id="an-btn" ui-sref="analyticsSingle({id: screenplay._id})">analytics</button>
                <div id="comp-displayer">{{ selected.toUpperCase() }}</div>
            </div>
            <medium-editor id="editor" bind-options="options" ng-model="text" ng-keydown="type($event)" ng-click="click()"">
            <div id="slug"></div>
            </medium-editor>
            <br>
        </div>
    </div>
</div>

