<section class="state-container">
	<div class="add-screenplay-wrapper">
		<button type='btn btn-primary'>Add a New Screenplay</button>
		<form id="add-screenplay" class="add-screenplay" name="addScreenplay" ng-submit="addNewScreenplay(user._id, newscreenplay)">
	  		<label for="title">Title</label>
	  		<input type="text" ng-model="newscreenplay.title" ng-required="true" class="form-control" id="title" placeholder="Enter screenplay title here">
		  	<label for="synopsis">Screenplay synopsis</label>
		  	<textarea class="form-control" id="synopsis" ng-model="newscreenplay.synopsis"  rows="4" placeholder="Enter screenplay synopsis here"></textarea>
		  	<button type="submit" class="btn btn-default">Add Screenplay</button>
		</form>
	</div>
		<div>
		<table>
		<th>Screenplays</th>
		<tr ng-repeat="screenplay in screenplays">
			<td class="sp-title">{{screenplay.title}}</td>
			<td class="sp-middle"><button ui-sref="editor({id: screenplay._id})" type='btn btn-primary'>Edit {{screenplay.title}}</button></td>
			<td class="sp-last"><button type='btn btn-primary'>Analyze</button></td>
		</tr>
		</table>
	</div>
</section>