<section class="extra-padding">
	<div class="state-container">
	<div class="add-screenplay-wrapper">
		<h2 class="sp">Screenplays</h2>
		<button class='btn sp-btn' ng-click="showForm()">Add New Screenplay</button>
		<form id="add-screenplay" class="add-screenplay" name="addScreenplay" ng-submit="addNewScreenplay(user._id, newscreenplay)" ng-show="showform">
	  		<label for="title">Title</label>
	  		<input type="text" ng-model="newscreenplay.title" ng-required="true" class="form-control" id="title" placeholder="Enter screenplay title here">
		  	<label for="synopsis">Screenplay synopsis</label>
		  	<textarea class="form-control" id="synopsis" ng-model="newscreenplay.synopsis"  rows="4" placeholder="Enter screenplay synopsis here"></textarea>
		  	<button class="submit" class="btn btn-default">Add Screenplay</button>
		</form>
	</div>
		<div>
		<div class="sp-div">
			<div class="sp-row" ng-repeat="screenplay in screenplays">
				<div class="sp-edit"><button ui-sref="editor({id: screenplay._id})" class='btn sp-btn'>{{screenplay.title}}</button></div>
				<div class="sp-analyze"><button class='btn sp-btn'>Analyze</button></div>
			</div>
		</div>
	</div>
	</div>
</section>