<section class="state-container">
	<div class="add-screenplay-wrapper">
		<button class='btn btn-primary' ng-click="showForm()">Add a New Screenplay</button>
		<form id="add-screenplay" class="add-screenplay" name="addScreenplay" ng-submit="addNewScreenplay(user._id, newscreenplay)" ng-show="showform">
	  		<label for="title">Title</label>
	  		<input type="text" ng-model="newscreenplay.title" ng-required="true" class="form-control" id="title" placeholder="Enter screenplay title here">
		  	<label for="synopsis">Screenplay synopsis</label>
		  	<textarea class="form-control" id="synopsis" ng-model="newscreenplay.synopsis"  rows="4" placeholder="Enter screenplay synopsis here"></textarea>
		  	<button class="submit" class="btn btn-default">Add Screenplay</button>
		</form>
	</div>
		<div>
		<table class="sp-table">
			<th id="words">Screenplays</th>
			<tr ng-repeat="screenplay in screenplays">
				<td class="sp-edit"><button ui-sref="editor({id: screenplay._id})" class='btn btn-primary'>{{screenplay.title}}</button></td>
				<td class="sp-analyze"><button class='btn btn-success'>Analyze</button></td>
			</tr>
		</table>
	</div>
</section>