
.sp-table {
	padding-bottom: 20px;
	font-size: 40px;
}

.sp-edit {
	padding: 20px 100px 0 10px;
}

.sp-analyze {
	float: right;
	padding: 20px 100px 0 10px;
}

.add-screenplay-wrapper {
	padding: 20px;
}

