.chart-container {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-image: url(p2.png);
	background-repeat: xy;
}

.select-sp, .chart-types {
	margin-bottom: 30px;
}

.btn-space {
	margin-right: 10px;
}

.chart-container {
  padding-top: 40px;
  width: 91%;
  margin: 30px auto;
}