.analytics-div {
	background-color: #fff;
	padding-bottom: 20px;
}

.select-sp, .chart-types {
	margin-bottom: 30px;
}

.btn-space {
	margin-right: 10px;
}

.chart-container {
  padding-top: 40px;
  width: 91%;
  margin: 30px auto;
}