* {
  box-sizing: border-box;
}

body {
  font-family: 'Cutive Mono';
  font-weight: 400;

  color: #271E23;
  background: #fdfdfd;
}

.paper {
  background-image: url(tex-paper-wrinkled.jpg);
  background-size: cover;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

main {
  padding-top: 60px;
  margin: 0 auto;
}

.state-container {
  padding-top: 120px;
  padding-bottom: 40px;
  width: 91%;
  min-height: 100vh;
  margin: 0 auto;
}

.chart-types .btn:focus, .sp-btn:focus {
  outline: none;
  color: #fff;
}

.chart-types .btn:active {
  color: #87b4a4;
}

@import 'analytics/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'screenplays/main';
@import 'tutorial/main';
@import 'login/main';
@import 'editor/main';
@import 'signup/main';
