.settings {
	margin-top: 0px;
	padding-left: 450px;
	height: 100vh; 
}

#name {
	margin-left: 250px;
	margin-top: 250px;
}

#pageHeading {
	margin-left: 250px;
	margin-top: 250px;
}

#Userbackground {background-image: url(nyc.jpeg)}

